@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply text-zinc-50;
}

.no-select {
  user-select: none; /* Отключает выделение текста на большинстве браузеров */
  -webkit-user-select: none; /* Отключает выделение текста в Safari и Chrome */
  -moz-user-select: none; /* Отключает выделение текста в Firefox */
  -ms-user-select: none; /* Отключает выделение текста в Internet Explorer */
}

.custom-height {
  @apply h-screen;
  height: calc(100vh - 78px);
}

.custom-height-settings {
  @apply h-screen;
  height: calc(100dvh - 200px);
}

.scrollableDiv::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.message-list::-webkit-scrollbar {
  width: 0;
}

/* width */
.comment-list::-webkit-scrollbar {
  width: 3px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* track */
.comment-list::-webkit-scrollbar-track {
  background: #087c70bf;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* handle */
.comment-list::-webkit-scrollbar-thumb {
  background: #28CBA6;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* handle on hover */
.comment-list::-webkit-scrollbar-thumb:hover {
  border: 1px solid #05050587;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
/* width */
.chat-list::-webkit-scrollbar {
  width: 4px;
  border-radius: 7px;
}

/* track */
.chat-list::-webkit-scrollbar-track {
  background: #addacf;
  border-radius: 5px;
}

/* handle */
.chat-list::-webkit-scrollbar-thumb {
  background: #5C807CBF;
  border-radius: 5px;
}

/* handle on hover */
.chat-list::-webkit-scrollbar-thumb:hover {
  border: 1px solid #05050587;
  border-radius: 5px;
}

/* width */
.creator_info::-webkit-scrollbar {
  padding-top: 2px;
  height: 1px;
}

.sticky.padding-small.align-l {
  display: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #087c70bf;
}

/* track */
::-webkit-scrollbar-track {
  background: #087c70bf;
  border-radius: 5px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #28CBA6;
  border-radius: 5px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #05050587;
}

@layer utilities {
  @layer responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 1;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
    }
    .masonry-md {
      column-gap: 1.5em;
      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s infinite;
}

.rmc-cropper-wrapper {
  background: none !important;
}

.my-masonry-grid {
  display: -webkit-box; /* not needed if autoprefixing */
  display: -ms-flexbox; /* not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  margin-top: 30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <masonry> */
  margin-bottom: 30px;
}

.animate-gradient-x {
  background-size: 200% 100%;
  animation: gradient-x 5s linear infinite;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes gradient-x {
  0% {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.cropper {
  @apply text-cyan-600 max-h-[500px]
}

.scrollableBg {
  position: relative;
}

.scrollableBg::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-attachment: fixed; */
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  border-radius: 6px;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-image: var(--scrollableDiv-background);
}

.main {
  @apply font-mulish w-screen min-h-screen fixed flex justify-center px-6 py-48 pointer-events-none before:block before:w-full before:h-full before:absolute before:top-0 before:bg-white/50 before:z-10 after:block after:w-full after:h-full after:absolute after:top-0 after:opacity-40 after:invert after:z-10
}

.main_gradient_light {
  @apply before:bg-gradient-to-t from-zinc-800 to-zinc-950 backdrop-filter backdrop-blur-md;
}

.main_gradient_dark {
  @apply dark:before:bg-gradient-to-t from-zinc-800 to-zinc-950 backdrop-filter backdrop-blur-md;
}

.message-list {
  @apply flex flex-grow w-full flex-col-reverse gap-1 px-2 mb-2 max-h-[93%] flex-1 rounded-lg text-clip break-words break-all leading-4	
}

.chat-list {
  @apply mb-6 max-h-[93%] bg-amber-400 flex-1 rounded-lg overflow-auto overscroll-contain p-0.5 bg-white/20 dark:bg-gray-600/10 bg-clip-padding backdrop-blur-lg backdrop-filter;
}

.comment-list {
  @apply flex-1 rounded-md max-h-[300px] mb-1 overflow-auto overscroll-contain border border-gray-600 p-0.5 bg-white/20 dark:bg-gray-600/10 bg-clip-padding backdrop-blur-lg backdrop-filter w-full h-fit;
}

.creator_info {
  @apply flex-1 overflow-auto flex justify-start items-center gap-3
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto px-6;
}

.chat_btn {
  @apply rounded-full border border-black bg-transparent dark:text-gray-300 dark:bg-gray-800 dark:hover:bg-gray-500 dark:hover:text-lime-400 py-1.5 px-5 text-black transition-all hover:bg-white hover:text-lime-600 text-center text-sm font-inter flex items-center justify-center;
}

.black_btn {
  @apply rounded-full border border-black bg-transparent dark:text-gray-300 dark:bg-gray-800 dark:hover:bg-gray-500 dark:hover:text-cyan-400 py-1.5 px-5 text-black transition-all hover:bg-white hover:text-cyan-600 text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent dark:text-gray-300 dark:bg-gray-800 dark:hover:bg-gray-500 dark:hover:text-red-400 py-1.5 px-5 text-black transition-all hover:bg-white hover:text-red-600 text-center text-sm font-inter flex items-center justify-center;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.head_text {
  @apply w-full text-3xl sm:text-5xl font-extrabold leading-[1.15] text-black;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 via-blue-700 to-blue-800 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-600 to-green-800 bg-clip-text text-transparent;
}

.orange_gradient {
  @apply bg-gradient-to-r from-orange-600 to-orange-800 bg-clip-text text-transparent;
}

.red_gradient {
  @apply bg-gradient-to-r from-red-600 to-red-800 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-gray-500/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
}

/* postcard component */
.post_card {
  @apply border-2 border-pink-700 flex-1 break-inside-avoid rounded-lg  dark:border-0 bg-white/20 dark:bg-gray-900/90 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter xs:w-[510px] w-[370px] h-fit;
}

/* feed component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* profile component */
.profile {
  @apply mx-auto w-full flex justify-center items-center flex-col gap-2;
}

/* form component */
.form_textarea {
  @apply w-full flex rounded-lg min-h-[80px] h-[100px] xs:max-h-[450px] mt-2 p-3 text-sm text-gray-500 dark:text-gray-300 dark:bg-gray-600/30 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0 dark:text-gray-300 dark:bg-gray-600/30;
}

/* nav component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white dark:bg-gray-600 min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link_profile {
  @apply text-sm font-inter text-black dark:text-gray-100 hover:text-orange-400 dark:hover:text-orange-400 font-medium;
}

.dropdown_link_post {
  @apply text-sm font-inter text-black dark:text-gray-100 hover:text-cyan-600 dark:hover:text-cyan-600 font-medium;
}

.dropdown_link_chat {
  @apply text-sm font-inter text-black dark:text-gray-100 hover:text-lime-600 dark:hover:text-lime-600 font-medium;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}