.dropzone {
  height: 8rem;
  margin: 1rem;
  padding: 1rem;
  border: 2px dashed rgb(248, 124, 110);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.active {
  border: 2px solid rebeccapurple;
}